@model IReadOnlyCollection<DetentionDropDownViewModel>
@{ 
    Layout = null;
}
<div class="form-group">
    
    <div class="col-md-8 col-md-offset-4">
        @if (Model == null||Model.Count<1)
        {
            <span class="text-left text-muted">Нет задержаний за последние 3 дня.</span>
        }
        else
        {
            @Html.DropDownList("Detentions[0].DetentionID", new SelectList(Model, "DetentionID", "DetentionHeader"), new { @class = "form-control" })
        }
    </div>
</div>
