
@{
    Layout = null;
}

@using (Html.BeginForm("GetDetaineeByDate", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Дата задержания", htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-7 input-group" id="datetimepicker">
            <span class="input-group-addon">
                <span class="glyphicon-calendar glyphicon"></span>
            </span>
            <input type="text" name="date" class="form-control" required />
            <script type="text/javascript">
                    $(document).ready(function () {
                        $('#datetimepicker').datetimepicker({ pickTime: false, language: 'ru' });
                    });
            </script>
        </div>
        <button type="submit" class="btn btn-success">Показать</button>
    </div>
}
