@model IEnumerable<string>
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <article class="col-md-8 article">
            @*@Html.Partial("DateNavigation")*@
            <div class="page-header text-center text-primary">
                <h2>Автоматизированная информационная система <strong>"Специальный изолятор"</strong></h2>
            </div>
            <p class="lead text-left">
                <em>
                    Система позволяет вести учет задержаний,задержанных лиц, а также мест их содержания, а также
                    предоставляет возможность с легкостью добавлять, редактировать, искать и удалять любую, хранящуюся в системе информацию.
                </em>
            </p>
            <p class="lead text-left">
                <em>
                    Поиск задержанных лиц можно вести как по дате задержания, так и по ФИО задержанного или по его адресу прописки.
                    Система обладает аутентификацией и авторизацией, а также может работать в 3-х режимах:
                </em>
                    <ul>
                        <li><em class="lead">режим пользователя;</em></li>
                        <li><em class="lead">режим редактора;</em></li>
                        <li><em class="lead">режим администратора.</em></li>


                    </ul>
                    
                </p>




        </article>
        <aside class="col-md-4" >
           
            @Html.Action("GetAdUnit", "Advertisment")
        </aside>
    </div>
    </div>


@section scripts {
    <script type="text/javascript" src="/Scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.min.css" />
}
