
@{
    ViewBag.Title = "EmployeeReferenceError";
}

<h2>Ошибка сервера!</h2>

<h5>Похоже, вы пытаетесь удалить сотрудника, который учавствовал в задержаниях. 
    Чтобы это сделать нужно сначала удалить все задержания с участием этого сотрудника!</h5>

