@model RoleViewModel

@{
    ViewBag.Title = "Delete";
}


<h3>Вы действительно хотите удалить эту роль?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Role",new { id=Model.RoleID})) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <div class="btn-group">
            <input type="button" onclick="history.back()" class="btn btn-default" value="Назад">
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </div>
    </div>
    }
</div>
