<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
  
    <services>
      <service name="Prison.Service.Services.AdService" behaviorConfiguration="AdService">

        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="customStreamedBinding"
                  contract="Prison.Service.Contracts.IAdContract" />

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>

    <basicHttpBinding>

      <binding  name="customStreamedBinding" 
                transferMode="Streamed" 
                maxReceivedMessageSize="25000000" 
                messageEncoding="Text" 
                textEncoding="utf-8">
        
        <readerQuotas  maxArrayLength="5000000"/>
      </binding>

    </basicHttpBinding>

  </bindings>
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="AdService">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
