@{
    Layout = null;
}

<script type="text/javascript" src="~/Scripts/DateNavigationViewScript.js"></script>

<div class="form-group">
    @Html.Label("Дата задержания", htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-7 input-group" id="datetimepicker">
        <span class="input-group-addon">
            <span class="glyphicon-calendar glyphicon"></span>
        </span>
        <input type="text" name="date" id="dateField" class="form-control" required />
    </div>

    @*This input helps to get right url address of action using Url helper.-becaue of @Url helper is not work inside .js script*@
    <input type="hidden" id="urlField" value="@Url.Action("GetDetaineeByDate", "Detainee")" />

    <button type="submit" id="GetDetaineeBtn" class="btn btn-success">Показать</button>
</div>


