@model PlaceOfStay

@{
    ViewBag.Title = "Delete";
}

<h3>Вы действительно хотите удалить это место содержания?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "PlaceOfStay",new { id=Model.PlaceID}))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="btn-group">
                <input type="button" onclick="history.back()" class="btn btn-default" value="Назад">
                <input type="submit" value="Удалить" class="btn btn-danger" />
            </div>
        </div>
    }
</div>
