<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64585/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAdContract" contract="ServiceReference.IAdContract"
                name="BasicHttpBinding_IAdContract" />
        </client>
    </system.serviceModel>
</configuration>