<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdContract" transferMode="Streamed"
                maxReceivedMessageSize="67108864"
    messageEncoding="Text" textEncoding="utf-8">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
    maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64585/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAdContract" contract="ServiceReference.IAdContract"
        name="BasicHttpBinding_IAdContract" />
    </client>
  </system.serviceModel>
</configuration>