@model IEnumerable<Blurb>

<div class="panel panel-default">
    <div class="panel-body">

        <ul class="media-list list-unstyled">
            @if (Model == null)
            {
                <li class="media">
                   
                    <div class="media-body text-center">
                        <div class="text-muted">
                            Мы против рекламы!
                        </div>

                    </div>

                </li>
            }
            else
            {
                foreach (var item in Model)
                {
                    <li class="media">
                        
                        <div class="media-body text-center">

                            <h4 class="media-heading text-center">@item.BlurbHeader</h4>

                            <div class="text-muted">
                                @item.BlurbContent
                            </div>
                                @if (item.Image != null)
                                {
                                    <div>
                                        <a href="#"><img class="img-rounded" width="258" height="162" src=@Html.ConvertByteArrToString(item.Image) /></a>
                                    </div>
                                }
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>

